<h1>Payment#new_payment</h1>

<p>
  Someone has just purchased a service
</p>
<blockquote>
<em><%=@user.email%> </em>
</blockquote>
<blockquote>
<em><%=@user.phone%> </em>
</blockquote>
<blockquote>
<em><%=@user.services%> </em>
</blockquote>